#addQCMContainer section{
	background:$block_color;
	margin: 0px 250px;
	padding: 0% 10% 3% 10%;
	box-shadow: $block_shadow;
}

#addQCMContainer header{
	text-align: center;
	margin-bottom: 40px;
	margin-top:40px;
}

#QCMForm {
	margin:50px 150px 0px 150px;
}

#QCMForm label{
	font-size:21px;
	color:$primary_color; 
	font-weight:bold;
	margin-bottom:50px;
	margin-right:20px;
}

#QCMForm input[type="text"]{
	border-bottom: $input_border_color; 
	color:$primary_color; 
	height: 30px;
	font-size:21px;
	width:300px;
	margin-bottom:50px;
}

#QCMForm select{
	border-radius:4px;
	color:$primary_color; 
	margin-top:10px;
	height:30px;
	width:150px;}

#questionInput{
	text-align: center;
	border-bottom: $input_border_color; 
	color:$primary_color; 
	height: 30px;
	font-size:21px;
	width:500px;
}

#questionInput::-webkit-input-placeholder {
   text-align: center;
}


#addQCMContainer .answer {
	width: 90%
}

.answer input{
	color:$primary_color !important; 
	font-size:21px;
	width: 100%;
}

#previousQuestion,#nextQuestion{
	width: 55px;
	height: 55px;
	border-radius:50%;
	border:solid 2px $button_input_color;
	color:$button_input_color;
	font-size: 27px;
	font-weight: 100;
	padding-top: 10px;
	position: relative;
	display: inline-block;
	text-decoration: none;

}

#previousQuestion{
    top: 100px;
    z-index: 1000;
    right: 45px;
    background: #fff;
}

#nextQuestion{
    top: 100px;
    z-index: 1000;
    left: 45px;
    background: #fff;
}

#btnCreate{
	background:$button_input_color;
	color: #FFF;
	font-size: 21px;
	padding:10px 30px;
	border-radius: 25px;
	text-decoration: none;
	width: 150px;
}