#addQCMContainer section{
	background:$block_color;
	margin: 50px 60px;
	padding: 5px 10% 5% 10%;
	box-shadow: $block_shadow;
}

#addQCMContainer header{
	text-align: center;
	margin-bottom: 40px;
	margin-top:40px;
}

#addQCMContainer .answerRow{
	border-bottom: solid 1px $primary_color;
	margin-bottom: 10px;
}

#addQCMContainer .answerAddQCM{
	width: 75%;
}

#QCMForm {
	margin:50px 60px 0px 60px;
}

#QCMForm label{
	font-size:21px;
	color:$primary_color; 
	font-weight:bold;
	margin-bottom:50px;
	margin-right:20px;
}

#QCMForm input[type="text"]{
	border-bottom: $input_border_color; 
	color:$primary_color; 
	height: 30px;
	font-size:21px;
	width:300px;
	margin-bottom:50px;
}

#QCMForm select{
	border-radius:4px;
	color:$primary_color; 
	margin-top:10px;
	height:30px;
	width:150px;}

#questionInput{
	text-align: center;
	border-bottom: $input_border_color; 
	color:$primary_color; 
	height: 30px;
	font-size:21px;
	width:500px;
}

#questionInput::-webkit-input-placeholder {
   text-align: center;
}


.answerAddQCM input[type="text"]{
	color:$primary_color !important; 
	font-size:21px;
	width: 100%;
}

#previousQuestion,#nextQuestion{
	width: 55px;
	height: 55px;
	border-radius:50%;
	border:solid 2px $button_input_color;
	color:$button_input_color;
	font-size: 27px;
	font-weight: 100;
	padding-top: 10px;
	position: relative;
	display: inline-block;
	text-decoration: none;

}

#previousQuestion{
    top: 100px;
    z-index: 1000;
    right: 45px;
    background: #fff;
}

#nextQuestion{
    top: 100px;
    z-index: 1000;
    left: 45px;
    background: #fff;
}

#btnCreate{
	background:$button_input_color;
	color: #FFF;
	font-size: 21px;
	padding:10px 30px;
	border-radius: 25px;
	text-decoration: none;
	width: 150px;
}

.answerAddQCM{
	padding-bottom: 10px;
}

.goodAnswerCheckbox{
	vertical-align: bottom;
	display: inline-block;
	float: right;
}

.answerRow.addAnswer{
	border-bottom: none !important;
}

#addAnswer{
	width:44px;
	height:44px;
	border:solid 2px #C4C4C4;;
	border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    color: #C4C4C4;
    font-size: 27px;
    font-weight: 100; 
}

@media screen and (max-width:992px){

	#QCMForm{
		margin:0px 0.5rem; 
		text-align: center;
		padding-top: 20px;
		padding-bottom:20px;
	}

	#addQCMContainer section{
		margin: 0px;
	}

	#QCMForm input[type="text"] {
	    margin-bottom: 20px;
	}


	.goodAnswerCheckbox{
	    display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.answerAddQCM input[type="text"]{
		border-bottom: $input_border_color; 
		margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
	}
	
	.answerNumber, .answerAddQCM{
		display: block;
		margin: 0 auto; 
		text-align: center;
	}

	.answerAddQCM input{
		margin-top: 10px;
		text-align: center;
	}

	#questionInput{
		width: 100%;
	}

	#addAnswer{
		display: block;
		margin: 0 auto;
		text-align: center;
	}	

}
