#techerCoursesContainer{
	margin-left:0px;
	margin-right:0px;
}

#techerCoursesContainer .chapterBlock{
	display:inline-block;
	height: auto !important;
	padding-top: 20px;
}

.courseTitle{
	display:inline-block;
}

.chapterBlockActions{
	display:inline-block;
	float: right;
}

.chapterBlockActions a{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	border: solid 1px $primary_color;
}

@media screen and (max-width: 768px){
	#techerCoursesContainer #coursesList > main{
		margin-left:0px;
		margin-right: 0px;
	}

	#techerCoursesContainer .chapterBlock{
		text-align: center;
	}

	.chapterBlockActions{
		float: none;
		margin: 0 auto;
		margin-top: 10px;
	}

	#techerCoursesContainer header{
		margin-top: 50px;
	}
}
