.chapterBlockActions{
	display:inline-block;
	width:100%;
}

.chapterBlockActions a{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	border: solid 1px $primary_color;
	margin-bottom:20px;
}

.actionRead{
	background:url(../../img/icn/iconBook.svg) 50% 50% no-repeat;	
	width:70px !important; 
	height:70px !important;
	margin-bottom:0px !important;
	margin-right:30%;

}