#qcmContainer section{
	background:$block_color;
	margin: 50px 60px;
	padding: 5px 10% 5% 10%;
	box-shadow: $block_shadow;
}

#qcmContainer header{
	text-align: center;
	margin-bottom: 40px;
	margin-top:40px;
}

#timeLeft{
	background: url(../../img/icn/iconClock.svg) 15% 50% no-repeat #BAC3CF;	
	border-radius:25px;
	width:150px;
	height: 50px;	
	float: right;
}

#timeLeft span{
	color: #fff;
	font-size:21px;
	position: relative;
	top:25%;
	padding-left:30px;
}

.answerNumber, .answer{
	display: inline-block;
}

.answer{
	vertical-align: bottom;
	padding-bottom: 15px;
	width: 80%;
}

#questionNumber{
	text-align: center;
	margin-bottom: 40px;
	width: 140px;
	height: 140px;
	border:solid 3px $primary_color;
	border-radius: 50%;
	padding-top: 30px;
	position: relative;
	left:50%;
	transform:translateX(-50%);
	color: $button_input_color;
	font-size: 17px;
	font-weight: 100;
}

#questionNumber b{
	font-size:36px;
	color:#172D44;
}

.answerRow{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom:solid 1px #C4C4C4;
}

.answerNumber{
	width: 44px;
	height: 44px;
	border:solid 2px $primary_color;
	border-radius: 50%;
	text-align: center;
	margin-right: 20px;
}

.answerNumber span{
	position: relative;
	top:28%;
}

#btnNext{
	background:$button_input_color;
	color: #FFF;
	font-size: 21px;
	padding:10px 30px;
	border-radius: 25px;
	text-decoration: none;
	width: 150px;
}


.btnNextContainer{
	margin-top: 50px;
}

@media screen and (max-width:768px){
	#qcmContainer section{
		margin: 0px;
	}
	
}

@media screen and (max-width:992px){
	#timeLeft{
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.answerNumber, .answer{
		display: block;
		margin: 0 auto; 
		text-align: center;
	}

	.answerNumber{
		margin-top: 10px;
	}

	.answerNumber{
		margin-bottom: 10px;
	}
}