@import "_variables";
@import "login";
@import "installer";
@import "template";

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

*{
	box-sizing: border-box;
}

.clearfix::after{  
	content:'';
	display: table;
	clear: both;
}

.clearfix::before{ 
	content:'';
	display: table;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

input[type="text"],
input[type="password"]
{
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color:#fff; 
	letter-spacing:1px;
}

input[type="submit"],
input[type="button"]
{	
	background: #1ABB9C;
	border-radius: 50px;
	border: none;
	padding: 10px 20px;
	color: #fff;
	border-radius: 40px;
	font-size: 21px;
	cursor: pointer;	
} 

#loginBody,
#installerBody
{
  background: url(../../img/loginBackground.png) no-repeat center fixed;
  background-size: cover;
} 


#loginForm,
#installerForm{
	position: absolute;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, #2A3F54 0%, rgba(28, 42, 57, 0.62) 49.72%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
	border-radius: 15px;

}

#loginForm ::-webkit-input-placeholder,
#installerForm ::-webkit-input-placeholder {
   color: #fff;
   opacity: 0.9;
}

	
	
	