@import "grid";
@import "variables";
@import "login";
@import "installer";
@import "template";
@import "dashboard";
@import "myCourses";
@import "chapter";
@import "qcm";
@import "addChapter";
@import "addQCM";
@import "test";
@import "classes";
@import "classe";
@import "subscribe";
@import "myCoursesTeacher";
@import "edt";
@import "myClasses";

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

*{
	box-sizing: border-box;
}

.clearfix::after{  
	content:'';
	display: table;
	clear: both;
}

.clearfix::before{ 
	content:'';
	display: table;
}

.text-center{
	text-align:center;
}

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.active{
    color: $secondary_color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"],
input[type="password"]
{
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color:#fff; 
	letter-spacing:1px;
}

select
{
    height: 30px;
    width: 80%;
    border-bottom: 1px solid #C4C4C4;
    color: #2A3F54;
    margin: 10px 0px;
    background-color: transparent;
    border-radius: 0px;
    font-size: 20px;
}

input[type="submit"],
input[type="button"]
{	
	background: $secondary_color;
	border-radius: 50px;
	border: none;
	padding: 10px 20px;
	color: #fff;
	border-radius: 40px;
	font-size: 21px;
	cursor: pointer;	
} 

input[type="checkbox"],input[type="radio"]{
	-webkit-appearance: none;
	position: relative !important;
	-moz-appearance: none;
	display: inline-block;
	width: 35px;
	height: 35px;
	outline: none !important;
	appearance: none;
	border: none !important;
}


input[type="checkbox"]:before,input[type="radio"]:before {position: absolute;
	width: 35px;
	height: 35px;
	left: 0px;
	top: 0px;
	border-radius: 50%;
	background: #fff;
	content: '.';
	overflow: hidden;
	text-indent: 5000px;
	border: 1px solid #C4C4C4;
}

input[type="checkbox"]:checked:before,input[type="radio"]:checked:before {
	background: #fff url(../../img/icn/iconCheckedGrey.svg) center center no-repeat;
}

a{
	text-decoration:none;
}

table {
    border-collapse: collapse;
    width:100%;
}

td, th {
    padding: 0;
    text-align:left;
}

#loginBody,
#installerBody
{
  background: url(../../img/loginBackground.png) no-repeat center fixed;
  background-size: cover;
} 

#loginForm{
	position: absolute;
}
#loginForm,
#installerForm{
	//position: absolute;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(180deg, $primary_color 0%, rgba(28, 42, 57, 0.62) 49.72%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
	border-radius: 15px;

}


#loginForm ::-webkit-input-placeholder,
#installerForm ::-webkit-input-placeholder {
   color: #fff;
   opacity: 0.9;
}

	
.displayInlineBlock{
	display:inline-block;
}	
	

.tooltip {
    position: relative;  
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #fff;
    color:rgba(0, 0, 0, 0.68);
    text-align: center;
    padding: 5px 0;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align:left;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding:15px;
}


//fleche du tooltip
//.tooltip .tooltiptext::after {
//   content: "";
//    position: absolute;
//    top: 100%;
//    left: 50%;
//    margin-left: -5px;
//    border-width: 5px;
//    border-style: solid;
//    border-color: #555 transparent transparent transparent;
//}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.modal{
    background-color: white;
    width: 800px;
    height: auto;
    min-height:200px;
    top: 200%;
    position: fixed;
    transition: top 1s;
    border-radius: 0px;
    border:$input_border_color;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.modalHeader{
    height:75px;
    border-bottom:$input_border_color;
    padding:25px 20px;
    color:$primary_color;
    font-size: 20px;
    font-weight: bold;
}

.modalBody{
    padding:5px 20px 20px 20px;
    color:$primary_color;
}

#shadowModal{
    background-color: rgba(0,0,0,0.5);
    transition: all 1s;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    position: fixed;
    opacity: 0;
}

.modal span{
    position: relative;
    float: right;
    top:20px;
    font-size: 30px;
    font-weight: bold;
    color:$primary_color;
    right: 20px;
    cursor:pointer;
}


#addBlock{
    height: 150px;
    background:#fff;
    border:dashed 1px #C4C4C4;
    text-align:center;
    
}

#iconAddBlockContainer{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}

#addItem{
    width:60px;
    height:60px;
    text-align:center;
    font-weight:bold;
    border: solid 3px $button_input_color;
    border-radius:50%;
    display: inline-block;
    text-decoration: none;
    color: $button_input_color;
    font-size:35px;
    padding-top:6px;
}

.blueBlock{
    height: 100px;
    background: linear-gradient(204.26deg, $primary_color 5%, rgba(60, 85, 110, 0.7) 113.45%);
    box-shadow: $block_shadow;
    color:#fff;
    padding:20px 20px;
}

.blueBlock .actionCol{
    display:inline-block;   
}

.actionCol a{
    width:30px;
    height:30px;
    border-radius:50%;
    border: solid 1px #fff;
    display:inline-block;
}

.actionViewWhite{
    background:url(../../img/icn/iconEyeWhite.svg) 50% 50% no-repeat;
    font-size:10px;
}

.actionEditWhite{
    background:url(../../img/icn/iconPencilWhite.svg) 50% 50% no-repeat;
}

.actionDeleteWhite{ 
    margin-left:5px;
    background:url(../../img/icn/iconXmarkWhite.svg) 50% 50% no-repeat; 
}

.actionAdd{ 
    width:33px;
    height:33px;
    border-radius:50%;
    color:#C4C4C4;
    border:solid 1px #C4C4C4;
    float: right;
    text-align:center;
    padding-top:5px;
    font-weight:100;
    font-size:19px;
}

.blockName{
    font-size:20px;
    text-transform:uppercase;
    margin-bottom:7px;
}

.blockContainer div.col-xs-12.col-sm-6.col-lg-4 {
    padding: 30px;
}

@media screen and (max-width: 768px){
    .blockContainer div.col-xs-12.col-sm-6.col-lg-4 {
        padding: 0px 0.5rem;
        margin-bottom: 20px;
    }
}