#subscribeContainer{
	font-size:28px;
	color:$primary_color;
}

#subscribeContainer header {
   margin-bottom:50px;
   margin-top:50px;
}

#subscribeContainer section {
    background:$block_color;
	margin: 50px 100px;
	padding: 0% 10% 5% 10%;
	box-shadow: $block_shadow;
}

#subscribeContainer input[type="text"],
#subscribeContainer input[type="password"]{
	//height: 30px;
	font-size:21px;
	width:100%;
	border-bottom: $input_border_color; 
	color:$primary_color;
	margin: 10px 0px;
}

.addProfile{
	background:$button_input_color !important;	
	//font-size: 21px;
	//padding:10px 30px;
	//border-radius: 25px;
	//text-decoration: none;
	width: 150px;
	//left:50%;
}


.btnAddSubscribe{
	width:100%;
	text-align:center;
	margin-top:50px;
}

#subscribeContainer .divInfo{
	margin-bottom:20px;
  	margin-top:50px;
}

.profileChoiceContainer{		
	padding-left:20px;
	padding-right:20px;
	margin-bottom:50px;
}	

.profileChoiceContainer a{
	max-width:180px;
	width:100%;
	border:$input_border_color;
	height:75px;
	padding-top:25px;
	font-size:20px;
	background:#fff;
	color:$primary_color;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.profileChoiceContainer a.active{
	border: solid 3px $primary_color;
}


@media screen and (max-width: 768px){
	#subscribeContainer section{
		margin: 0px;
	}	    

	.profileChoiceContainer{
		margin-bottom:20px;
	}

	#subscribeContainer .divInfo{
		text-align:center;
		margin-top:20px;
	}

	#subscribeContainer form input{
		position: relative;
		left:50%;
		transform:translateX(-50%);
	}
}