#sideBar{
	background:$primary_color;
	min-height:100%;
	width:220px;
	position: fixed;
	transition: all 0.3s
}

#sideBar header img{
	width: 70%;
    padding-top: 10px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#sideBar main{
	margin-top: 40px;
}

#userPicture{
	height:70px;
	width:70px;
	border-radius:50%;
	border: solid 3px #D9DEE4;
	display:inline-block;
	background: url(../../img/userImg.svg) no-repeat center;	
}

#userName{
	color:#fff;	
	margin-top: 20px;
	transition: all 0.3s;
}

#navBar{
	margin-top: 40px;
}

#navBar ul {
	list-style: none;
	padding: 0;	
}

#navBar ul li {
	border-bottom: solid 1px #485A6C;
	color:white;
	padding: 15px 0px 15px 50px;
	transition:all 0.3s;
	cursor: pointer;	
}

#navBar ul li a{
	color:#fff;
}


#navBar ul li#liDashboard{
	background: url(../../img/icn/iconChart.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liEnseignants{
	background: url(../../img/icn/iconTeacher.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liElèves{
	background: url(../../img/icn/iconStudent.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liClasses{
	background: url(../../img/icn/iconStudents.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liEmploidutemps{
	background: url(../../img/icn/iconSchedule.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liParamètres{
	background: url(../../img/icn/iconGear.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liMescours{
	background: url(../../img/icn/iconBookWhite.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liEvaluations{
	background: url(../../img/icn/iconPenWhite.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liMaclasse{
	background: url(../../img/icn/iconStudents.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li#liDevoirs{
	background: url(../../img/icn/iconHomework.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}


#navBar ul li.active{
	border-right: solid 7px $secondary_color;	
}

#pageContent{
	width:calc(100% - 220px);
	margin-left: 220px;
	height:100%;
	transition: all 0.3s
}

#topBar{
	height:70px;
	background-color: $topBar_color;
	border-bottom: solid 1px #D9DEE4;
}

#toggleIcon{
	background:url(../../img/icn/iconBurgerMenu.svg) 5px 50% no-repeat;
	width:100px;
	height:70px;
}

#inputSearch{
	border-bottom: 1px solid $button_input_color; 
    font-size: 1.3rem;
    padding-left:30px; 
    color:$button_input_color;
    background:url(../../img/icn/iconSearch.svg) no-repeat;
    top:25%;
    position: relative;
}

#pathSection{
	height: 80px;
	background:url(../../img/pathBackground.svg) no-repeat;
	background-size: cover;
}

#pathSection p{
	color: white;
	font-size: 20px;
	position: relative;
	top:30%;
	margin: 0px 25px;
}


//MenuClose

#sideBar.menuClose #userName{
	font-size: 0.6em;
}

#sideBar.menuClose{
	width:100px !important;
}

#pageContent.menuClose{
	width:calc(100% - 100px);
	margin-left: 100px;
}

#sideBar.menuClose ul li {
	border-bottom: solid 1px #485A6C;
	color:white;	
	font-size: 10px;
	padding: 30px 15px 15px 15px;
	margin-top:15px;
	text-align: center;
}


#sideBar.menuClose ul li#liDashboard{
	background: url(../../img/icn/iconChart.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liEnseignants{
	background: url(../../img/icn/iconTeacher.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liElèves{
	background: url(../../img/icn/iconStudent.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liClasses{
	background: url(../../img/icn/iconStudents.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liEmploidutemps{
	background: url(../../img/icn/iconSchedule.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liParamètres{
	background: url(../../img/icn/iconGear.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liMescours{
	background: url(../../img/icn/iconBookWhite.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liEvaluations{
	background: url(../../img/icn/iconPenWhite.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liMaclasse{
	background: url(../../img/icn/iconStudents.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li#liDevoirs{
	background: url(../../img/icn/iconHomework.svg)  center 5% no-repeat;
}

#notifications{
	visibility: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-left: 5px;
    z-index: 99;
    font-size: 15px;
}

.ntf{
	margin-top: 10px;
    padding: 10px 15px;
    max-width: 450px;
    float: right;
    clear: right;
}

.ntf-default {
	background-color: #F4F4F4;	
	color: #000;
	border: 1px solid #000;
}

.ntf-danger{
	background-color: #f44336; 
	color: #fff;
}

.ntf-warning{
	background-color: #ff9800;
	color: #fff; 
}

.ntf-success{
	 background-color: #4CAF50; 
	 color: #fff;
}


#notifications.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.6s;
    animation: fadein 0.5s, fadeout 0.5s 9.6s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 10px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 10px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 10px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 992px){

	#pageContent{
		width:100%;
		margin-left: 0px;
		height:100%;
		transition: all 0.3s
	}

	#logoMobile{		
		//background: url(../../img/logoMobile.png) no-repeat;
		//background-size: cover;
		padding-top:5px;
	}

	#logoMobile img{		
	    width: 200px;
	    left: 50%;
	    position: relative;
	    transform: translateX(-50%);
	}

	#iconSearch{
		background:url(../../img/icn/iconSearch.svg) center no-repeat;
	}	

	.menuMobileClose{
	 	display: none;	   
	}

	#navBarMobile{
 		transition: all 0.3s;
	}

	#navBarMobile ul{
		margin:0px;
		list-style: none;
		padding: 0;	
	}

	#navBarMobile ul li{
		border-bottom: solid 1px #485A6C;
		padding: 15px 0px 15px 0px;
		transition:all 0.3s;
		text-align: center;	
	}

	#navBarMobile ul li a{
		color:$primary_color;
	}

	.divInputSearchMobileClose{
		display: none;
	}

	#divInputSearchMobile{
		height: 70px;	
		margin: 0px 25px;
	}

	#SearchMobile{
		border-bottom: 1px solid $button_input_color; 
	    font-size: 1.3rem;
	    color:$button_input_color;
	    background:url(../../img/icn/iconSearch.svg) no-repeat;
	    top:25%;
	    position: relative;	  
	    padding-left: 25px; 
	}
	

}

#topBarMobile > .row{
	height:70px;
	margin:0px !important;
}


.modal{
    background-color: white;
    width: 800px;
    height: auto;
    min-height:200px;
    top: 200%;
    position: fixed;
    transition: top 1s;
    border-radius: 0px;
    border:$input_border_color;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}

.modalHeader{
    height:75px;
    border-bottom:$input_border_color;
    padding:25px 20px;
    color:$primary_color;
    font-size: 20px;
    font-weight: bold;
}

.modalBody{
    padding:5px 20px 20px 20px;
    color:$primary_color;
}

#shadowModal{
    background-color: rgba(0,0,0,0.5);
    transition: all 1s;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    position: fixed;
    opacity: 0;
}

.modal span{
    position: relative;
    float: right;
    top:20px;
    font-size: 30px;
    font-weight: bold;
    color:$primary_color;
    right: 20px;
    cursor:pointer;
}


#addBlock{
    height: 150px;
    background:#fff;
    border:dashed 1px #C4C4C4;
    text-align:center;
    
}

#iconAddBlockContainer{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}

#addItem{
    width:60px;
    height:60px;
    text-align:center;
    font-weight:bold;
    border: solid 3px $button_input_color;
    border-radius:50%;
    display: inline-block;
    text-decoration: none;
    color: $button_input_color;
    font-size:35px;
    padding-top:6px;
}

.blueBlock{
    height: 100px;
    background: linear-gradient(204.26deg, $primary_color 5%, rgba(60, 85, 110, 0.7) 113.45%);
    box-shadow: $block_shadow;
    color:#fff;
    padding:20px 20px;
}

.blueBlock .actionCol{
    display:inline-block;   
}

.actionCol a{
    width:30px;
    height:30px;
    border-radius:50%;
    border: solid 1px #fff;
    display:inline-block;
}

.actionViewWhite{
    background:url(../../img/icn/iconEyeWhite.svg) 50% 50% no-repeat;
    font-size:10px;
}

.actionEditWhite{
    background:url(../../img/icn/iconPencilWhite.svg) 50% 50% no-repeat;
}

.actionDeleteWhite{ 
    margin-left:5px;
    background:url(../../img/icn/iconXmarkWhite.svg) 50% 50% no-repeat; 
}

.actionAdd{ 
    width:33px;
    height:33px;
    border-radius:50%;
    color:#C4C4C4;
    border:solid 1px #C4C4C4;
    float: right;
    text-align:center;
    padding-top:5px;
    font-weight:100;
    font-size:19px;
}

.blockName{
    font-size:20px;
    text-transform:uppercase;
    margin-bottom:7px;
}

.blockContainer div.col-xs-12.col-sm-6.col-lg-4 {
    padding: 30px;
}

.active{
    color: $secondary_color;
}

@media screen and (max-width: 768px){
    .blockContainer div.col-xs-12.col-sm-6.col-lg-4 {
        padding: 0px 0.5rem;
        margin-bottom: 20px;
    }
}