#sideBar{
	background:$primary_color;
	min-height:100%;
	width:220px;
	position: absolute;
	transition: all 0.3s
}

#sideBar header img{
	width:100%;
	padding-top: 10px;
}

#sideBar main{
	margin-top: 40px;
}

#userPicture{
	height:70px;
	width:70px;
	border-radius:50%;
	border: solid 3px #D9DEE4;
	display:inline-block;
	background: url(../../img/userImg.svg) no-repeat center;	
}

#userName{
	color:#fff;	
	margin-top: 20px;
	transition: all 0.3s;
}

#navBar{
	margin-top: 40px;
}

#navBar ul {
	list-style: none;
	padding: 0;	
}

#navBar ul li {
	border-bottom: solid 1px #485A6C;
	color:white;
	padding: 15px 0px 15px 50px;
	transition:all 0.3s;
	cursor: pointer;	
}

#navBar ul li:nth-child(2){
	background: url(../../img/icn/iconTeacher.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}
#navBar ul li:nth-child(3){
	background: url(../../img/icn/iconStudent.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}
#navBar ul li:nth-child(4){
	background: url(../../img/icn/iconStudents.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}
#navBar ul li:nth-child(5){
	background: url(../../img/icn/iconSchedule.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}
#navBar ul li:nth-child(6){
	background: url(../../img/icn/iconGear.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat;
}

#navBar ul li.active{
	border-right: solid 7px $secondary_color;
	background: url(../../img/icn/iconChart.svg) 20px 50% no-repeat;
}

#pageContent{
	width:calc(100% - 220px);
	margin-left: 220px;
	height:100%;
	transition: all 0.3s
}

#topBar{
	height:70px;
	background-color: $topBar_color;
	border-bottom: solid 1px #D9DEE4;
}

#toggleIcon{
	background:url(../../img/icn/iconBurgerMenu.svg) 25px 50% no-repeat;
	width:100px;
	height:70px;
}

#inputSearch{
	border-bottom: 1px solid $button_input_color; 
    font-size: 1.3rem;
    padding-left:30px; 
    color:$button_input_color;
    width:225px;
    background:url(../../img/icn/iconSearch.svg) no-repeat;
    top:25%;
    position: relative;
}

#pathSection{
	height: 80px;
	background:url(../../img/pathBackground.svg) no-repeat;
	background-size: cover;
}

#pathSection p{
	color: white;
	font-size: 30px;
	position: relative;
	top:30%;
	margin: 0px 25px;
}


//MenuClose

#sideBar.menuClose #userName{
	font-size: 0.6em;
}

#sideBar.menuClose{
	width:100px !important;
}

#pageContent.menuClose{
	width:calc(100% - 100px);
	margin-left: 100px;
}

#sideBar.menuClose ul li {
	border-bottom: solid 1px #485A6C;
	color:white;	
	font-size: 10px;
	padding: 30px 15px 15px 15px;
	margin-top:15px;
	text-align: center;
}

#sideBar.menuClose ul li:nth-child(1){
	background: url(../../img/icn/iconChart.svg) center 5% no-repeat;
}

#sideBar.menuClose ul li:nth-child(2){
	background: url(../../img/icn/iconTeacher.svg) center 5% no-repeat;
}
#sideBar.menuClose ul li:nth-child(3){
	background: url(../../img/icn/iconStudent.svg) center 5% no-repeat;
}
#sideBar.menuClose ul li:nth-child(4){
	background: url(../../img/icn/iconStudents.svg) center 5% no-repeat;
}
#sideBar.menuClose ul li:nth-child(5){
	background: url(../../img/icn/iconSchedule.svg) center 5% no-repeat;
}
#sideBar.menuClose ul li:nth-child(6){
	background: url(../../img/icn/iconGear.svg) center 5% no-repeat;
}


@media screen and (max-width: 992px){

	#pageContent{
		width:100%;
		margin-left: 0px;
		height:100%;
		transition: all 0.3s
	}

	#logoMobile{		
		//background: url(../../img/logoMobile.png) no-repeat;
		//background-size: cover;
	}

	#logoMobile img{		
	    width: 200px;
	    left: 50%;
	    position: relative;
	    transform: translateX(-50%);
	}

	#iconSearch{
		background:url(../../img/icn/iconSearch.svg) center no-repeat;
	}	

	.menuMobileClose{
	 	display: none;	   
	}

	#navBarMobile{
 		transition: all 0.3s;
	}

	#navBarMobile ul{
		margin:0px;
		list-style: none;
		padding: 0;	
	}

	#navBarMobile ul li{
		border-bottom: solid 1px #485A6C;
		color:$primary_color;
		padding: 15px 0px 15px 0px;
		transition:all 0.3s;
		text-align: center;	
	}

	.divInputSearchMobileClose{
		display: none;
	}

	#divInputSearchMobile{
		height: 70px;	
		margin: 0px 25px;
	}

	#SearchMobile{
		border-bottom: 1px solid $button_input_color; 
	    font-size: 1.3rem;
	    color:$button_input_color;
	    width:100%;
	    background:url(../../img/icn/iconSearch.svg) no-repeat;
	    top:25%;
	    position: relative;	  
	    padding-left: 25px; 
	}

	#pathSection p{
		font-size: 25px;
	}

}

#topBarMobile > .row{
	height:70px;
}