$primary_color: #2A3F54;
$primary_color_darker: #172D44;
$secondary_color:#1ABB9C;
$tritiary_color:#F4F4F4;
$topBar_color:#EDEDED;
$block_color:#F4F4F4;
$block_shadow:0px 2px 1px rgba(0, 0, 0, 0.1);
$button_input_color:#5A738E;
$input_border_color:1px solid #C4C4C4;