/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.col-xs, .col-sm, .col-md, .col-lg, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.col-xs, .col-sm, .col-md, .col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.offset-xs-reset {
  margin-left: 0; }

.hidden-xs {
  display: none; }

.visible-xs {
  display: inherit; }

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .offset-sm-reset {
    margin-left: 0; }

  .hidden-sm {
    display: none; }

  .visible-sm {
    display: inherit; } }
@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .offset-md-reset {
    margin-left: 0; }

  .hidden-md {
    display: none; }

  .visible-md {
    display: inherit; } }
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .offset-lg-reset {
    margin-left: 0; }

  .hidden-lg {
    display: none; }

  .visible-lg {
    display: inherit; } }
body {
  font-family: 'Ubuntu', sans-serif; }

#loginForm {
  width: 500px;
  height: 700px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Ubuntu', sans-serif !important; }

#loginForm header {
  height: 50%;
  background: url(../../img/logo.png) no-repeat 50% 40%; }

#loginForm main {
  height: 260px; }

#loginForm input[type="text"],
#loginForm input[type="password"] {
  height: 2rem;
  font-size: 1.3rem;
  padding-left: 30px;
  border-bottom: 1px solid #1ABB9C; }

#loginForm input[type="submit"] {
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

#inputLogin {
  background: url(../../img/icn/iconLogin.svg) no-repeat;
  margin-bottom: 40px; }

#inputPwd {
  background: url(../../img/icn/iconPwd.svg) no-repeat;
  margin-bottom: 80px; }

#help {
  background: url(../../img/icn/iconHelp.svg) no-repeat 25px;
  text-align: center;
  color: rgba(196, 196, 196, 0.5);
  text-decoration-line: underline;
  padding-left: 40px;
  font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  #loginBody {
    background: #fff; }

  #loginForm {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none; }

  #loginForm header {
    height: 30%; }

  #loginForm main {
    height: 50%; }

  #help {
    text-align: left;
    padding-left: 50px; } }
#installerBody {
  font-family: 'Ubuntu', sans-serif !important; }

#logoContainer {
  background: url(../../img/logo.png) no-repeat 51% 150%;
  width: 100%;
  height: 150px; }

#title {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px; }

#installerForm {
  width: 63%;
  height: 700px;
  left: 50%;
  top: 80%;
  transform: translateX(-50%) translateY(-80%); }

#installerForm > header {
  margin-top: 25px; }

.stepCircle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 2px #fff;
  display: inline-block; }

.stepCircle.active {
  border: solid 3px #1ABB9C; }

.stepCircle:nth-child(1) {
  background: url(../../img/icn/iconCheckedWhite.svg) no-repeat center; }

.stepCircle:nth-child(3) {
  background: url(../../img/icn/iconDbWhite.svg) no-repeat center; }

.stepCircle:nth-child(5) {
  background: url(../../img/icn/iconUserWhite.svg) no-repeat center; }

.stepCircle.active:nth-child(1) {
  background: url(../../img/icn/iconCheckedGreen.svg) no-repeat center; }

.stepCircle.active:nth-child(3) {
  background: url(../../img/icn/iconDbGreen.svg) no-repeat center; }

.stepCircle.active:nth-child(5) {
  background: url(../../img/icn/iconUserGreen.svg) no-repeat center; }

.path {
  width: 15%;
  height: 5px;
  background: #D9DEE4;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px 50px -4px; }

.path.active {
  background: #1ABB9C; }

.stepTitle {
  display: inline-block;
  text-transform: uppercase;
  color: #D9DEE4; }

#installerForm > main {
  margin: 4% 8% 8% 8%; }

#formTitle {
  color: #E5E5E5;
  font-size: 21px; }

#formDesc {
  color: #BAC3CF;
  font-size: 18px; }

#installerForm form {
  margin-top: 4%; }

.rowTitle {
  color: #fff; }

.rowValue {
  color: #fff; }

.rowDesc {
  color: #BAC3CF; }

#installerForm form .row {
  margin-bottom: 25px;
  font-size: 16px; }

#installerForm input {
  font-size: 16px;
  border-bottom: 1px solid #1ABB9C; }

.buttonContainer {
  margin-top: 50px; }

#installerForm input[type="button"] {
  font-size: 21px;
  width: 120px;
  background: url(../../img/icn/iconArrowRightWhite.svg) 80% no-repeat #1ABB9C; }

@media screen and (max-width: 768px) {
  #installerBody {
    background: #fff;
    height: 100%; }

  #installerForm {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none; }

  .rowTitle {
    margin-bottom: 15px; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #installerForm {
    width: 80%; } }
#sideBar {
  background: #2A3F54;
  min-height: 100%;
  width: 220px;
  position: absolute;
  transition: all 0.3s; }

#sideBar header {
  background: url(../../img/petitLogo.svg) 50% 20px no-repeat;
  height: 60px; }

#sideBar main {
  margin-top: 40px; }

#userPicture {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 3px #D9DEE4;
  display: inline-block;
  background: url(../../img/userImg.svg) no-repeat center; }

#userName {
  color: #fff;
  margin-top: 20px;
  transition: all 0.3s; }

#navBar {
  margin-top: 40px; }

#navBar ul {
  list-style: none;
  padding: 0; }

#navBar ul li {
  border-bottom: solid 1px #485A6C;
  color: white;
  padding: 15px 0px 15px 50px;
  transition: all 0.3s;
  cursor: pointer; }

#navBar ul li:nth-child(2) {
  background: url(../../img/icn/iconTeacher.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat; }

#navBar ul li:nth-child(3) {
  background: url(../../img/icn/iconStudent.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat; }

#navBar ul li:nth-child(4) {
  background: url(../../img/icn/iconStudents.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat; }

#navBar ul li:nth-child(5) {
  background: url(../../img/icn/iconSchedule.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat; }

#navBar ul li:nth-child(6) {
  background: url(../../img/icn/iconGear.svg) 20px 50% no-repeat, url(../../img/icn/iconArrowRightWhite.svg) 200px 50% no-repeat; }

#navBar ul li.active {
  border-right: solid 7px #1ABB9C;
  background: url(../../img/icn/iconChart.svg) 20px 50% no-repeat; }

#pageContent {
  width: calc(100% - 220px);
  margin-left: 220px;
  height: 100%;
  transition: all 0.3s; }

#topBar {
  height: 70px;
  background-color: #EDEDED;
  border-bottom: solid 1px #D9DEE4; }

#toggleIcon {
  background: url(../../img/icn/iconBurgerMenu.svg) 25px 50% no-repeat;
  width: 100px;
  height: 70px; }

#inputSearch {
  border-bottom: 1px solid #5A738E;
  font-size: 1.3rem;
  padding-left: 30px;
  color: #5A738E;
  width: 225px;
  background: url(../../img/icn/iconSearch.svg) no-repeat;
  top: 25%;
  position: relative; }

#pathSection {
  height: 80px;
  background: url(../../img/pathBackground.svg) no-repeat;
  background-size: cover; }

#pathSection p {
  color: white;
  font-size: 30px;
  position: relative;
  top: 30%;
  margin: 0px 25px; }

#sideBar.menuClose header {
  background: url(../../img/petitLogo.svg) center no-repeat;
  height: 60px; }

#sideBar.menuClose #userName {
  font-size: 0.6em; }

#sideBar.menuClose {
  width: 100px !important; }

#pageContent.menuClose {
  width: calc(100% - 100px);
  margin-left: 100px; }

#sideBar.menuClose ul li {
  border-bottom: solid 1px #485A6C;
  color: white;
  font-size: 10px;
  padding: 30px 15px 15px 15px;
  margin-top: 15px;
  text-align: center; }

#sideBar.menuClose ul li:nth-child(1) {
  background: url(../../img/icn/iconChart.svg) center 5% no-repeat; }

#sideBar.menuClose ul li:nth-child(2) {
  background: url(../../img/icn/iconTeacher.svg) center 5% no-repeat; }

#sideBar.menuClose ul li:nth-child(3) {
  background: url(../../img/icn/iconStudent.svg) center 5% no-repeat; }

#sideBar.menuClose ul li:nth-child(4) {
  background: url(../../img/icn/iconStudents.svg) center 5% no-repeat; }

#sideBar.menuClose ul li:nth-child(5) {
  background: url(../../img/icn/iconSchedule.svg) center 5% no-repeat; }

#sideBar.menuClose ul li:nth-child(6) {
  background: url(../../img/icn/iconGear.svg) center 5% no-repeat; }

@media screen and (max-width: 768px) {
  #pageContent {
    width: 100%;
    margin-left: 0px;
    height: 100%;
    transition: all 0.3s; }

  #logoMobile {
    background: url(../../img/logoMobile.png) no-repeat;
    background-size: cover; }

  #iconSearch {
    background: url(../../img/icn/iconSearch.svg) center no-repeat; }

  .menuMobileClose {
    display: none; }

  #navBarMobile {
    transition: all 0.3s; }

  #navBarMobile ul {
    margin: 0px;
    list-style: none;
    padding: 0; }

  #navBarMobile ul li {
    border-bottom: solid 1px #485A6C;
    color: #2A3F54;
    padding: 15px 0px 15px 0px;
    transition: all 0.3s;
    text-align: center; }

  .divInputSearchMobileClose {
    display: none; }

  #divInputSearchMobile {
    height: 70px;
    margin: 0px 25px; }

  #SearchMobile {
    border-bottom: 1px solid #5A738E;
    font-size: 1.3rem;
    color: #5A738E;
    width: 100%;
    background: url(../../img/icn/iconSearch.svg) no-repeat;
    top: 25%;
    position: relative;
    padding-left: 25px; }

  #pathSection p {
    font-size: 15px; } }
#rowBlockInfo {
  margin-top: 50px; }

.blocInfo {
  width: 230px;
  height: 150px;
  background: #F4F4F4;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 35px; }

.blocTitle {
  line-height: 17px;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  background: url(../../img/icn/iconChartBlack.svg) 0% 50% no-repeat;
  width: 80%;
  height: auto;
  padding-left: 15%;
  padding-right: 15%; }

.blocValue {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 10px;
  font-weight: 300; }

#rowBlockSchedule {
  margin-top: 50px; }

#blockSchedule {
  padding: 0px 26px;
  height: 170px;
  flex-direction: row !important; }

#arrowLeftSchedule {
  height: 170px;
  background: url(../../img/icn/iconArrowLeftSchedule.svg) 50% 50% no-repeat #1abb9c;
  width: 45px;
  opacity: 0.7;
  cursor: pointer; }

#contentSchedule {
  width: calc(100% - 90px);
  display: flex;
  color: #fff; }

#contentSchedule a {
  text-decoration: none;
  color: #fff;
  background: #8CDDCD;
  padding: 7px 20px;
  border-radius: 25px;
  position: relative;
  left: 20%;
  font-size: 15px; }

#contentSchedule #currentCourse a {
  background: #8CDDCD; }

#contentSchedule #nextCourse a {
  background: #9DAAB6; }

#arrowRightSchedule {
  height: 170px;
  background: url(../../img/icn/iconArrowRightSchedule.svg) 50% 50% no-repeat #3c556e;
  width: 45px;
  opacity: 0.7;
  cursor: pointer; }

#currentCourse {
  height: 170px;
  background: #1ABB9C;
  height: 100%;
  flex: 1; }

#nextCourse {
  background: #3C556E;
  height: 100%;
  flex: 1;
  height: 170px; }

#teacherCourse {
  padding-left: 45px;
  background: url(../../img/icn/iconSchool.svg) 20px no-repeat; }

#teacherCourse span {
  text-transform: uppercase; }

#roomCourse {
  margin-top: 20px;
  padding-left: 40px;
  background: url(../../img/icn/iconLocation.svg) 20px no-repeat; }

hr.timeLeft {
  height: 3px;
  background: #fff;
  border: none;
  width: 80%;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px; }

.timeSpanCours span {
  font-size: 10px; }

.titleSchedule {
  margin-left: 10%;
  vertical-align: top;
  padding-top: 15px;
  width: 130px; }

.timeSpanCours {
  margin-left: 25px; }

.titleSchedule,
.timeSpanCours {
  display: inline-block; }

#blockHomeWork {
  height: 170px;
  padding: 0px 26px; }

#blockHomeWorkContainer {
  background: #F4F4F4; }

#blockHomeWorkContainer header {
  font-size: 18px;
  height: 50px;
  padding: 15px 27px; }

#blockHomeWorkContainer table {
  border-collapse: collapse;
  width: 100%; }

#blockHomeWorkContainer table tr {
  height: 30px; }

#blockHomeWorkContainer table tr td:first-child {
  background: url(../../img/icn/iconClipBoard.svg) 50% 50% no-repeat;
  width: 70px; }

#blockHomeWorkContainer table tr:nth-child(2n+1) td {
  background-color: #fff; }

#courseTitle {
  margin-top: 50px;
  font-size: 26px; }

#courseTitle span {
  font-size: 16px;
  color: rgba(42, 63, 84, 0.41); }

#coursesList,
#attachementsList {
  padding: 50px 80px; }

#teacherInfo {
  padding: 50px 80px 50px 10px; }

#coursesList header,
#teacherInfo header,
#attachementsList header {
  color: #1ABB9C;
  font-size: 25px;
  font-weight: 500; }

#coursesList main,
#teacherInfo main,
#attachementsList main {
  margin-top: 20px; }

#coursesList article,
#attachementsList article {
  padding-top: 5px;
  padding-bottom: 5px; }

#coursesList article div,
#attachementsList article div {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  background: #F4F4F4; }

.chapterBlock, .attachementsBlock {
  padding: 10px 25px;
  min-height: 80px; }

.chapterNumber, .attachementsStorage {
  font-size: 14px;
  color: rgba(42, 63, 84, 0.41); }

.attachementsBlock {
  padding: 20px 0px 0px 70px;
  background: url(../../img/icn/iconFolder.svg) #F4F4F4 25px 50% no-repeat; }

#teacherInfoBlock {
  background: #F4F4F4;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  max-height: 500px;
  padding-top: 25px;
  height: auto; }

.infoContent {
  background: url(../../img/icn/iconEmail.svg) 20px 0px no-repeat;
  font-size: 16px;
  padding-left: 50px;
  min-height: 25px;
  height: auto;
  margin-bottom: 25px; }

#chapterContainer {
  margin: 50px 80px; }

#chapterContainer article header div {
  color: #1ABB9C;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px; }

#chapterContainer article header div span {
  border-right: solid 2px #1ABB9C;
  padding-right: 20px;
  margin-right: 20px; }

#chapterContainer article main div span {
  border-right: solid 2px #172D44;
  padding-right: 20px;
  margin-right: 20px; }

#chapterContainer article main div {
  color: #172D44;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 20px; }

#chapterContainer article main p {
  color: #172D44;
  font-size: 17px;
  margin-left: 55px; }

#chapterContainer input {
  font-size: 13px;
  color: #fff;
  background: url(../../img/icn/iconDl.svg) 5% 50% no-repeat rgba(0, 0, 0, 0.5);
  padding: 5px 10px 5px 30px;
  margin-left: 55px; }

#qcmContainer section {
  background: #F4F4F4;
  margin: 50px 250px;
  padding: 0% 10% 5% 10%; }

#qcmContainer header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }

#timeLeft {
  background: url(../../img/icn/iconClock.svg) 15% 50% no-repeat #BAC3CF;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  float: right; }

#timeLeft span {
  color: #fff;
  font-size: 21px;
  position: relative;
  top: 25%;
  padding-left: 30px; }

.answerNumber, .answer {
  display: inline-block; }

#questionNumber {
  text-align: center;
  margin-bottom: 40px;
  width: 140px;
  height: 140px;
  border: solid 3px #2A3F54;
  border-radius: 50%;
  padding-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #5A738E;
  font-size: 17px;
  font-weight: 100; }

#questionNumber b {
  font-size: 36px;
  color: #172D44; }

.answerRow {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px #C4C4C4; }

.answerNumber {
  width: 44px;
  height: 44px;
  border: solid 2px #2A3F54;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px; }

.answerNumber span {
  position: relative;
  top: 23%; }

#chapterForm {
  margin: 50px 150px; }

#chapterForm label {
  font-size: 21px;
  color: #2A3F54;
  font-weight: bold;
  margin-bottom: 20px; }

#chapterForm input[type="text"] {
  border-bottom: 1px solid #C4C4C4;
  color: #2A3F54;
  height: 30px;
  font-size: 21px;
  width: 300px;
  margin-bottom: 20px; }

#chapterForm select {
  border-radius: 4px;
  color: #2A3F54;
  margin-top: 10px;
  height: 30px;
  width: 150px; }

html {
  height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

* {
  box-sizing: border-box; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.clearfix::before {
  content: '';
  display: table; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input[type="text"],
input[type="password"] {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  letter-spacing: 1px; }

input[type="submit"],
input[type="button"] {
  background: #1ABB9C;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 40px;
  font-size: 21px;
  cursor: pointer; }

#loginBody,
#installerBody {
  background: url(../../img/loginBackground.png) no-repeat center fixed;
  background-size: cover; }

#loginForm,
#installerForm {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #2A3F54 0%, rgba(28, 42, 57, 0.62) 49.72%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 15px; }

#loginForm ::-webkit-input-placeholder,
#installerForm ::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.9; }

/*# sourceMappingURL=style.css.map */
