<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/css/style.css">
</head>
<body>

<div class="row" id="responsivity">			
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<div class="item"></div>
		</div>
	</div>
</body>
</html>