<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700|Ubuntu:300,400,500" rel="stylesheet">
</head>
<body id="installerBody" >
	<header class="row">
		<div class="col-xs-12" id="logoContainer"></div>
		<div class="col-xs-12 text-center" id="title" class="text-center">cms installer</div>
	</header>
	<main class="row">		
		<section class="col-xs-12 col-sm-8 col-sm-offset-2" id="installerForm">
			<header class="text-center">
				<div>
				<div class="stepCircle active"></div>
				<div class="path active"></div>
				<div class="stepCircle"></div>
				<div class="path"></div>
				<div class="stepCircle"></div>
			</div>
			<div>
				<div class="stepTitle">général</div>
				<div class="stepTitle">database</div>
				<div class="stepTitle">admin</div>
			</div>
			</header>	
			<main>
				<header>
					<div class="row">
						<div id="formTitle" class="col-xs-12">Database Information</div>
						<div id="formDesc" class="col-xs-12">Below you should enter your database connetion details.</div>
					</div>
				</header>
				<main>
					<form>
						<div class="row">
							<div class="col-xs-12 col-sm-2 text-left rowTitle">
							Database Name
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="text" placeholder="edulab">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								The name of the database you want to run Edulab.® in.
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-2  text-left rowTitle">
							User Name
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="text" placeholder="myuser">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								Your database username
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-2 text-left rowTitle">
							Password
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="Password" placeholder="mypassword">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								... and your password.
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-2 text-left rowTitle">
							Database host
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="text" placeholder="localhost">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								Your database hostname here.
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-2 text-left rowTitle">
							Database Port
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="text" placeholder="3306">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								The database port if neccessary. Can be empty.
							</div>
						</div>					
						<div class="row">
							<div class="col-xs-12 col-sm-2 text-left rowTitle">
							Table Prefix
							</div>
							<div class="col-xs-12 col-sm-4 rowValue">
								<input type="text" placeholder="edulab_">	
							</div>
							<div class="col-xs-12 col-sm-6 rowDesc">
								Prefix will be applied before each tables inserted.
							</div>
						</div>
						<div class="row buttonContainer">
							<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-10 clearfix">					
								<input type="button" value="Next">	
							</div>
						</div>
					<form>
				</main>
			</main>		
		</section>
	</main>		

</body>
</html>