<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body id="installerBody" >
	<header>
		<div id="logoContainer"></div>
		<div id="title" class="text-center">cms installer</div>
	</header>
	<main>		
		<section id="installerForm" class="text-center">
			<header>
				<div class="stepCircle active"></div>
				<div class="path active"></div>
				<div class="stepCircle"></div>
				<div class="path"></div>
				<div class="stepCircle"></div>
				<div class="stepTitle">général</div>
			</header>			
		</section>
	</main>		

</body>
</html>