<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
</head>
<body id="loginBody">
	<main>		
		<section id="loginForm">
			<header>				
			</header>
			<main>
				<form>	
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<input type="text" placeholder="email" id="inputLogin">						
						</div>	
					</div>	
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">						
							<input type="password" placeholder="password" id="inputPwd">
						</div>	
					</div>
					<div class="row">
						<div class="col-xs-12">						
							<input type="submit" value="Sign in">	
						</div>	
					</div>										
				</form>			
			</main>			
			<footer>
				<div class="row">
					<div id="help" class="col-xs-6 col-xs-offset-3">	
						Problème de connexion
					</div>
				</div>				
			</footer>
		</section>
	</main>		

</body>
</html>