<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700|Ubuntu:300,400,500" rel="stylesheet">
</head>
<body>	
	<div id="sideBar" class="hidden-xs visible-sm">
		<header>
			<img src="../../public/img/petitLogo.svg">
		</header>
		<main class="text-center">
			<div id="userPicture"></div>
			<div id="userName">VARVEROPOULOS<br>Valentin</div>
		</main>
		<nav id="navBar">
			<ul>
				<li class="active">Dashboard</li>
				<li>Enseignants</li>
				<li>Elèves</li>
				<li>Classes</li>
				<li>Emploi du temps</li>
				<li>Paramètres</li>
			</ul>			
		</nav>
	</div>
	<div id="pageContent">
		<header>
			<div id="topBar" class="col-md-12 hidden-xs visible-sm">
				<div class="row">
					<div class="col-md-6">
						<a id="toggleIcon" onclick="toggleNav()" href="#"></a>
					</div>
					<div class="col-md-2 col-md-offset-4">
						<input  id="inputSearch" type="text">
					</div>
				</div>											
			</div>
			<div id="topBarMobile" class="hidden-sm">
				<div class="row">
					<div class="col-xs-2">
						<a id="toggleIcon" onclick="toggleMenuMobile()" href="#"></a>
					</div>
					<div id="logoMobile" class="col-xs-6 col-xs-offset-1"><img src="../../public/img/logoMobile.png"></div>
					<div id="iconSearch" class="col-xs-2 col-xs-offset-1" onclick="toggleSearchMobile()""></div>					
				</div>	
				<nav id="navBarMobile" class="menuMobileClose">
					<ul>
						<li>Dashboard</li>
						<li>Enseignants</li>
						<li>Elèves</li>
						<li>Classes</li>
						<li>Emploi du temps</li>
						<li>Paramètres</li>
					</ul>	
				</nav>
				<div id="divInputSearchMobile" class="row divInputSearchMobileClose">
					<div class="col-xs-12">
						<input id="SearchMobile" type="text">
					</div>					
				</div>	
			</div>			
			<div id="pathSection" class="col-md-12">
				<p>Evaluations > Développement PHP Avancé > QCM 1</p>
			</div>			
		</header>
		<main id="addQCMContainer">
			<form id="QCMForm" class="row">
					<div class="col-md-6 displayInlineBlock">
						<label>Nom</label>
						<input placeholder="Nom de l'évaluation" type="text"/>						
					</div>
					<div class="col-md-6 displayInlineBlock">
						<label>Classe</label>
						<select>
						    <option value="3A IW1">3A IW1</option>						   
				    	</select>
					</div>	
				</form>
			<section class="col-md-12">
				<header>
					<a href="#" id="previousQuestion">-</a>	
					<a href="#" id="nextQuestion">+</a>					
					<div id="questionNumber">Question<br><b>2</b><br>sur 2</div>
					<div id="question"><input type="text" placeholder="Saisir ici votre question" id="questionInput"/></div>
				</header>
				<main>
					<div class="answerRow">
						<div class="answerNumber"><span>1</span></div>
						<div class="answer"><input type="text" placeholder="Réponse 1"/></div>	
					</div>	
					<div class="answerRow">
						<div class="answerNumber"><span>2</span></div>
						<div class="answer"><input type="text" placeholder="Réponse 2"/></div>	
					</div>						
					<div class="text-center">
						<a id="btnCreate" href="#">Créer</a>
					</div>	
				</main>
			</section>
		</main>
		
	</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function toggleNav() {
		   $("#sideBar").toggleClass("menuClose");
		   $("#pageContent").toggleClass("menuClose");		   
		}	

		function toggleMenuMobile() {
		  	$("#navBarMobile").toggleClass("menuMobileClose");
		}

		function toggleSearchMobile() {
		  	$("#divInputSearchMobile").toggleClass("divInputSearchMobileClose");
		}			
	</script>

</body>
</html>