<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700|Ubuntu:300,400,500" rel="stylesheet">
</head>
<body>	
		<div id="sideBar" class="hidden-xs hidden-sm visible-md">
		<header>
			<img src="../../public/img/petitLogo.svg">
		</header>
		<main class="text-center">
			<div id="userPicture"></div>
			<div id="userName">VARVEROPOULOS<br>Valentin</div>
		</main>
		<nav id="navBar">
			<ul>
				<li class="active">Dashboard</li>
				<li>Enseignants</li>
				<li>Elèves</li>
				<li>Classes</li>
				<li>Emploi du temps</li>
				<li>Paramètres</li>
			</ul>			
		</nav>
	</div>
	<div id="pageContent">
		<header>
			<div id="topBar" class="col-md-12 hidden-xs  hidden-sm visible-md">
				<div class="row">
					<div class="col-md-6">
						<a id="toggleIcon" onclick="toggleNav()" href="#"></a>
					</div>
					<div class="col-md-2 col-md-offset-4">
						<input  id="inputSearch" type="text">
					</div>
				</div>											
			</div>
			<div id="topBarMobile" class="hidden-md">
				<div class="row">
					<div class="col-xs-2">
						<a id="toggleIcon" onclick="toggleMenuMobile()" href="#"></a>
					</div>
					<div id="logoMobile" class="col-xs-6 col-xs-offset-1"><img src="../../public/img/logoMobile.png"></div>
					<div id="iconSearch" class="col-xs-2 col-xs-offset-1" onclick="toggleSearchMobile()""></div>					
				</div>	
				<nav id="navBarMobile" class="menuMobileClose">
					<ul>
						<li>Dashboard</li>
						<li>Enseignants</li>
						<li>Elèves</li>
						<li>Classes</li>
						<li>Emploi du temps</li>
						<li>Paramètres</li>
					</ul>	
				</nav>
				<div id="divInputSearchMobile" class="row divInputSearchMobileClose">
					<div class="col-xs-12">
						<input id="SearchMobile" type="text">
					</div>					
				</div>	
			</div>	
			<div id="pathSection" class="col-md-12">
				<p>Mes cours > UX Design</p>
			</div>			
		</header>
		<main>		
				<header id="courseTitle" class="col-md-12 text-center">
					UX Design<br>
					<span>3A IW</span>
				</header>
				<main class="row">
					<div class="col-md-9">
						<div class="row">
						<section id="coursesList" class="col-md-12">	
							<header>
								Courses
							</header>
							<main class="row">
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 1</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 2</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 3</span><br>
										Le responsive design : les notions clés
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 4</span><br>
										L’UX et L’UI
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 5</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 6</span><br>
										Du design au responsive
									</div>
								</article>
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 7</span><br>
										Le responsive design : découverte
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 8</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 9</span><br>
										Le responsive design
									</div>
								</article>
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 10</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 11</span><br>
										Le responsive design
									</div>
								</article>	
								<article class="col-md-3">
									<div class="chapterBlock">
										<span class="chapterNumber">Chapitre 12</span><br>
										Le responsive design
									</div>
								</article>									
							</main>
						</section>
						<section id="attachementsList" class="col-md-12">
							<header>
								Attachements
							</header>
							<main class="row">
								<article class="col-md-3">
									<div class="attachementsBlock">								
										TP1-ux-design.zip<br>
										<span class="attachementsStorage">4 Mo</span>
									</div>
								</article>	
							</main>
						</section>
						</div>
					</div>
					<div class="col-md-3">
						<div class="row">
							<section id="teacherInfo" class="col-md-12">
								<header>
									Teacher
								</header>
								<main class="row">
									<article id="teacherInfoBlock" class="col-md-12">
										<div class="infoContent">valentin.varveropoulos@hotmail.fr</div>
										<div class="infoContent">valentin.varveropoulos@hotmail.fr</div>
									</article>
								</main>	
							</section>
						</div>
					</div>					
				</main>						
		</main>	
	</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function toggleNav() {
		   $("#sideBar").toggleClass("menuClose");
		   $("#pageContent").toggleClass("menuClose");		   
		}	

		function toggleMenuMobile() {
		  	$("#navBarMobile").toggleClass("menuMobileClose");
		}

		function toggleSearchMobile() {
		  	$("#divInputSearchMobile").toggleClass("divInputSearchMobileClose");
		}			
	</script>

</body>
</html>