<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../public/css/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700|Ubuntu:300,400,500" rel="stylesheet">
</head>
<body>	
		<div id="sideBar" class="hidden-xs hidden-sm visible-md">
		<header>
			<img src="../../public/img/petitLogo.svg">
		</header>
		<main class="text-center">
			<div id="userPicture"></div>
			<div id="userName">VARVEROPOULOS<br>Valentin</div>
		</main>
		<nav id="navBar">
			<ul>
				<li class="active">Dashboard</li>
				<li>Enseignants</li>
				<li>Elèves</li>
				<li>Classes</li>
				<li>Emploi du temps</li>
				<li>Paramètres</li>
			</ul>			
		</nav>
	</div>
	<div id="pageContent">
		<header>
			<div id="topBar" class="col-md-12 hidden-xs  hidden-sm visible-md">
				<div class="row">
					<div class="col-md-6">
						<a id="toggleIcon" onclick="toggleNav()" href="#"></a>
					</div>
					<div class="col-md-2 col-md-offset-4">
						<input  id="inputSearch" type="text">
					</div>
				</div>											
			</div>
			<div id="topBarMobile" class="hidden-md">
				<div class="row">
					<div class="col-xs-2">
						<a id="toggleIcon" onclick="toggleMenuMobile()" href="#"></a>
					</div>
					<div id="logoMobile" class="col-xs-6 col-xs-offset-1"><img src="../../public/img/logoMobile.png"></div>
					<div id="iconSearch" class="col-xs-2 col-xs-offset-1" onclick="toggleSearchMobile()""></div>					
				</div>	
				<nav id="navBarMobile" class="menuMobileClose">
					<ul>
						<li>Dashboard</li>
						<li>Enseignants</li>
						<li>Elèves</li>
						<li>Classes</li>
						<li>Emploi du temps</li>
						<li>Paramètres</li>
					</ul>	
				</nav>
				<div id="divInputSearchMobile" class="row divInputSearchMobileClose">
					<div class="col-xs-12">
						<input id="SearchMobile" type="text">
					</div>					
				</div>	
			</div>
			<div id="pathSection" class="col-md-12">
				<p>Evaluations > Développement PHP Avancé > QCM 1</p>
			</div>			
		</header>
		<main id="qcmContainer">
			<section class="col-XS-12">
				<header>
					<div id="timeLeft"><span>0m59s</span></div>
					<div id="questionNumber">Question<br><b>1</b><br>sur 20</div>
					<div id="question">Qu’est-ce qui définie au mieux le modèle MVC ?</div>
				</header>
				<main>
					<div class="answerRow ">
						<div class="answerNumber"><span>1</span></div>
						<div class="answer">Un modèle MVC est un patron de conception à des fins purement esthétique</div>	
					</div>	
					<div class="answerRow">
						<div class="answerNumber"><span>2</span></div>
						<div class="answer">MVC signifie Modèle-Vue-Conception</div>	
					</div>	
					<div class="answerRow">
						<div class="answerNumber"><span>3</span></div>
						<div class="answer">Le modèle MVC est une façon de plannifier les fonctionnalités d’un site à développer </div>	
					</div>				
					<div class="answerRow">
						<div class="answerNumber"><span>4</span></div>
						<div class="answer">Le modèle MVC consiste à distinguer trois entités distinctes qui sont, le modèle, la vue et le contrôleur ayant chacun un rôle précis dans l'interface</div>	
					</div>
					<div class="text-center btnNextContainer">
						<a id="btnNext" href="#">Next ></a>
					</div>	
				</main>
			</section>
		</main>
		
	</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function toggleNav() {
		   $("#sideBar").toggleClass("menuClose");
		   $("#pageContent").toggleClass("menuClose");		   
		}	

		function toggleMenuMobile() {
		  	$("#navBarMobile").toggleClass("menuMobileClose");
		}

		function toggleSearchMobile() {
		  	$("#divInputSearchMobile").toggleClass("divInputSearchMobileClose");
		}			
	</script>

</body>
</html>